#footer
  padding: 60px 0
  background-color: color-footer-background
  color: color-footer-text
  text-align: center
  a
    font-weight: bold
    color: color-grey-l
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 16px
