<div class="widget-wrap">
  <h3 class="widget-title"><%= __('friends') %></h3>
  <div class="widget">
    <ul>
      <% for (var i in theme.friends){ %>
      <li>
        <a href="<%- url_for(theme.friends[i]) %>" target="_blank" rel="nofollow"><%= i %></a>
      </li>
      <% } %>
    </ul>
  </div>
</div>
